.footer {
    position: relative; /* Ensure footer is positioned correctly */
    background-color: white; /* Light background for visibility */
    padding: 20px; /* Padding for aesthetics */
    text-align: center;
   
  }
  .footer-content{
    background-color: white; /* Light background for visibility */
    padding: 20px; /* Padding for aesthetics */
  }
  
  .footer-links {
    display: flex; /* Use flex for layout */
    justify-content: center;
    gap: 15px; /* Space between links */
  }
  
  .footer-links a {
    color: #333333; /* Link color */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .footer-links a:hover {
    text-decoration: underline; /* Underline on hover for feedback */
  }
  