.navbar {
  display: flex;
  justify-content: space-between; /* Space between left and right sections */
  align-items: center;
  background-color: #23a7d8; /* Blue background */
  color: white;
  padding: 15px;
}

.logo-nav {
  display: flex; /* Align logo and nav links horizontally */
  align-items: center; /* Center items vertically */
}

.logo {
  width: 20%; /* Adjust as necessary */
  height: auto; /* Maintain aspect ratio */
  margin-right: 0px; /* Space between logo and nav links */
}

.nav-links-left {
  display: flex; /* Align links horizontally */
}

.nav-links {
  display: flex; /* Align links horizontally */
  margin-left: auto; /* Push to the right */
}

.nav-links a,
.nav-links-left a {
  background-color: #F5F5DC; /* Button background */
  color: #333333; /* Button text color */
  border: none; /* No border */
  padding: 8px 15px; /* Padding for button */
  cursor: pointer; /* Pointer cursor */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Transition for hover effect */
  margin-right: 10px; /* Space between links */
}

/* Hover effect */
.nav-links a:hover,
.nav-links-left a:hover {
  background-color: #9bddef; /* Change to Sunshine Yellow on hover */
  color: #333333; /* Change text color for better contrast */
}
