<div class="image-grid">
  <h1 class="welcome-message">
    Bem Vindo ao<br>
    Atl da Coutada!
</h1>
    <div class="image" style="background-image: url('https://scontent.fopo5-2.fna.fbcdn.net/v/t39.30808-6/455867503_903605468234674_2253649703714028839_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEMss-sVCUZhbS4g6m8IwXsMWUimH5vCMQxZSKYfm8IxBgbl4eggGPvrNeyogwfmRwo_cDCIm2qDRHPivgfRP-7&_nc_ohc=1AlsNZSwPsgQ7kNvgFSNO54&_nc_zt=23&_nc_ht=scontent.fopo5-2.fna&_nc_gid=A1gM5Zeo_sXn545blHPw76u&oh=00_AYDQspXhz-KLYfl-KtImIayZ3xIeLkU4oOs0dUSBp69h4Q&oe=672534A3');"></div>
    <div class="image" style="background-image: url('https://scontent.fopo5-2.fna.fbcdn.net/v/t39.30808-6/455859935_903645478230673_58906149682577730_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGIyXag5CxT8W3nw-t_0haZx5kX_Zbf97DHmRf9lt_3sFE10-NMa67iwpiuQKsyCGFboUCcgyrubshCgw1y-rY7&_nc_ohc=KbSk9HZnpGkQ7kNvgEynkdZ&_nc_zt=23&_nc_ht=scontent.fopo5-2.fna&_nc_gid=AIFM_S_5G8v7MfjLSSdnvYw&oh=00_AYDjhzwXosiJA6I64USGTJtUZDYi7YVl4kecdAhHbxGS6w&oe=672535D2');"></div>
    <div class="image" style="background-image: url('https://scontent.fopo5-1.fna.fbcdn.net/v/t39.30808-6/456082699_903607004901187_4298216397003288297_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGOunuv1wiUNw6UGMFXqyx8cKGfBZSpMpRwoZ8FlKkylJYzMHno5NbdWHVQ699Dup4MI6kfw8K1cUfOCruxnVs0&_nc_ohc=3sNQLRQA8RgQ7kNvgEFm23W&_nc_zt=23&_nc_ht=scontent.fopo5-1.fna&_nc_gid=AvBzlxNaC60QvEbhsR-e4qS&oh=00_AYC9iqz5M6snor_C40OaVAhOgLWgKiJYaKROMD0CBDEDCA&oe=672554CC');"></div>
  </div>
  