.calendar-events-container {
    display: flex;
    justify-content: space-between;
  }
  
  .calendar {
    width: 40%;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  .events-description {
    width: 55%;
    padding: 20px;
  }

  .demo-inline-calendar-card {
    width: 400px;
    margin: 50px;
  }